

body {background-color: rgb(109, 241, 0); color: white; text-align: center;
margin: 25%; overflow-y: hidden; margin-top: 20%;}

.flex-container {
  font-family: 'Raleway', sans-serif;
    display: flex;
    height: 100px;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: #00aeff80;
    width: 100%;
    
  }

  .flex-container > div {
    background-color: #646464c7;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 75px;
    font-size: 45px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .flex-container > div#minut{
      margin:0;
  }
  .flex-container > div > .siffra{
      margin: 0;
    grid-row: 2;
      
  }